<!doctype html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="src/frontend/static/css/base.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Twitter Sentiment Analysis</title>

  </head>
  <body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <div class="container" >
        <h1 class="text-center">Welcome to the basic sentiment analysis app!</h1><br><br>
        <h2 class="text-center">Enter text to get the sentiment score:</h2><br><br>
        <form action="/" method="post">
            <div class="form-row">
                <div class="row">
                    <input class="col-10 w-100 input-group-lg" type="text" id="text" name="text"><br><br>
                </div><br>
                <div class="row justify-content-center">
                    <input class="w-25 btn btn-primary" type="submit" id="submit_btn" value="Submit"><br><br>
                </div>
            </div>
        </form>
        <br><br>


        <div>
            {% if result != "" %}
            <h2>Given text: {{ text }}</h2>
            <h2 id="result-h2"></h2>
            <div class="progress">
                <div id="progressbar" class="progress-bar-tick bg-success" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
            </div><br><br>
            <script>
                let progress = "{{result}}" * 100;
                let color = "progress-bar-tick bg-warning";

                if (progress < 35) {
                    color = "progress-bar-tick bg-danger";
                } else if (progress > 65) {
                    color = "progress-bar-tick bg-success";
                }
                document.getElementById('progressbar').className = color;
                document.getElementById('progressbar').style.width = progress + "%";
                document.getElementById('result-h2').innerHTML = "Result: " + progress.toFixed() + "% positive";
            </script>
            {% endif %}
        </div>
        <br><br><div class="text-center">Heroku is slow sometimes, so please be patient :)</div><br><br>
  </div>
  </body>
</html>

